* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans;
  font-size: 1rem;
  max-width: 60rem;
  margin: 1rem auto;
  outline: solid grey 2px;
  border-radius: 5px;
  padding: 0 2rem 1rem;
  color: #444;
  line-height: 1.5;
}

a , 
a:visited, 
a:focus {
  color: #cb0;
  font-weight: 900;
}

a::before {
  content: "> ";
}

img {
  max-width: 100%;
  display: block;
}

nav {
  border: solid 1px #ccc;
  padding: 1rem
}

nav ol li {
  padding: 0 0 0.5rem 2rem;
}

#loc-1 , h3, h2 {
  border-bottom: solid #333 3px;
}

h1, h2 , h3 , h4 ,h5 {
  margin: 2rem 0;
}

ul li {
  margin: 0 0 0.5rem 1rem;
}

code {
  font-family: monospace;
  font-weight: 600;
  font-size: 80%;
  white-space: pre-wrap;
  background-color: #ddd;
  padding: 0.8rem;
  border-radius: 2px;
  display: block;
  margin: 0.8rem 0;
}

